        html{
            overflow: hidden;
        }
        h3{
            position: inherit;
            left: 50%;
            top: -30%;
        }
        .menu{
            position: absolute;
            background-color: gray;
            height: 40px;
            width: 100%;
        }
        .color_black{
            position: inherit;
            width: 2%;
            height: 100%;
            background-color: black;
        }
        .color_yellow{
            position: inherit;
            width: 2%;
            height: 100%;
            left:2%;
            background-color: yellow;
        }
        .color_green{
            position: inherit;
            width: 2%;
            height: 100%;
            left:4%;
            background-color: green;
        }
        .color_red{
            position: inherit;
            width: 2%;
            height: 100%;
            left:6%;
            background-color: red;
        }
        .color_blue{
            position: inherit;
            width: 2%;
            height: 100%;
            left:8%;
            background-color: blue;
        }
        .color_orange{
            position: inherit;
            width: 2%;
            height: 100%;
            left:10%;
            background-color: orange;
        }
        .color_white{
            position: inherit;
            width: 2%;
            height: 100%;
            left:12%;
            background-color: white;
        }
        #background_color{
            position: inherit;
            left:16%;
            padding-top: 0.5em;
            text-align: center;
            width:8%;
            height: 80%;
            background-color: #C0C0C0;
        }
        .background_color:hover{background-color: #545454;}