{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8080/program"><-- Назад</a>
  </div>
</nav>
<h1 class="cen text">Оглавление</h1>
<ul>
    <li><a href="#all">Общая характеристика программы</a></li>
    <li><a href="#mainwindow">Основное окно программы</a></li>
    <li><a href="#mash">Кнопка МЭШ</a></li>
    <li><a href="#exit">Кнопка выхода из аккаунта</a></li>
    <li><a href="#exit">Калькулятор</a></li>
    <li><a href="#remind">Напоминания</a></li>
    <li><a href="#links">Ссылки</a></li>
    <li><a href="#notes">Заметки</a></li>
    <li><a href="#continue">Кнопка "Продолжить"</a></li>
    <li><a href="#search">Строка поиска</a></li>
    <li><a href="#searchfor">Сортировка</a></li>
    <li><a href="#classes">Классы</a></li>
    <li><a href="#settings">Настройки</a></li>
    <li><a href="#about">"О программе"</a></li>
    <li><a href="#download">Скачать приложение</a></li>
</ul>
<p><a name="all"></a></p>
<h2 class="text" id="#all">Общая характеристика программы</h2>
<p class="text txt">Приложение "Помощник учителя" - online-приложение, созданное учениками Яндекс.Лицея
    для помощи учителям в их важном и  ответственном деле. Это означает, что Вы сможете получить доступ
    к своим классам на любом устройстве, где будет присутствовать доступ в интернет.</p>
<p class="text txt" style="margin-top: -10px">____________________________________________________________________________________________________________________________________________________________________</p>
<p><a name="mainwindow"></a></p>
<img src="/static/img/menu.jpg" alt="здесь должна была быть картинка, но не нашлась" style="float: right; border: 3px; margin-top: 100px">
<h2 class="text" id="#mainwindow">Основное окно программы</h2>
<p class="text txt">При успешном входе появится основное окно программы. С правой стороны расположен столбец кнопок.</p>
<p><a name="mash"></a></p>
<h2 class="text" id="#mash">Кнопка МЭШ</h2>
<p class="text txt" style="width: 800px">Кнопка МЭШ открывает в браузере страницу авторизации московского электронного журнала. Если в данном
браузере были сохранены логин и пароль от аккаунта МЭШ, то будет произведён вход в аккаунт МЭШ с сохранёнными данными</p>
<p><a name="exit"></a></p>
<h2 class="text" id="#exit">Кнопка выхода из аккаунта</h2>
<p class="text txt" style="width: 800px">Производит выход из аккаунта и открывает окно авторизации.</p>
<p><a name="calculator"></a></p>
<h2 class="text" id="#calculator">Калькулятор</h2>
<p class="text txt" style="width: 800px">Открывает калькулятор, встроенный в операционной системе компьютера. Если открыть
калькулятор не получится, появится сообщение, уведомляющее вас об этом.</p>
<p><a name="remind"></a></p>
<h2 class="text" id="#remind">Напоминания</h2>
<p class="text txt" style="width: 800px">Открывает окно "Напоминания". В этом окне можно создать и удалить напоминание.
При его создании необходимо указать дату, время и тему напоминания. По желанию можно указать текст напоминания. В назначенную дату
на почту аккаунта придёт письмо, в теме которого будет указана тема напоминания, а при наличии текста напоминания, письмо будет содержать этот текст.</p>
<p><a name="links"></a></p>
<h2 class="text">Ссылки</h2>
<p class="text txt" style="width: 800px">Открывает окно "Ссылки". В этом окне можно сохранить ссылку на нужный видеоурок или материал,
указав при её сохранении название, под которым она будет храниться, и саму ссылку.</p>
<p><a name="notes"></a></p>
<h2 class="text">Заметки</h2>
<p class="text txt" style="width: 800px">Открывает окно "Заметки". В этом окне можно сохранить нужные Вам данные, если
вы боитесь их забыть. Для этого необходимо указать название заметки и её текст.</p>
<p class="text txt" style="margin-top: -10px">____________________________________________________________________________________________________________________________________________________________________</p>
<p><a name="continue"></a></p>
<h2 class="text">Кнопка "Продолжить"</h2>
<p class="text txt">Для активации этой кнопки нужно выбрать хотя бы одного ученика из таблицы класса. После того, как хотя бы один
из учеников выбран и нажата кнопка "Продолжить", появится окно "Рассылка". Для отправки писем достаточно ввести либо тему сообщения, либо
текст сообщения, либо добавить вложения. <br> <b>Обратите внимание, что в одном письме можно отправить не более 5 вложений.</b></p>
<img src="/static/img/continue.jpg" alt="здесь должна была быть картинка, но не нашлась" style="border: 3px; margin-top: -10px; width: 900; margin-left: -30px; height: 96px">
<p class="text txt" style="margin-top: -10px">____________________________________________________________________________________________________________________________________________________________________</p>
<p><a name="search"></a></p>
<h2 class="text">Строка поиска</h2>
<p class="text txt">В поисковой строке "Поиск ученика" можно ввести нужную подстроку, и в таблице останутся только те ученики,
в чьих данных содержится введённая подстрока.</p>
<p><a name="searchfor"></a></p>
<h2 class="text">Сортировка</h2>
<p class="text txt">В меню сортировки можно выбрать ключ сортировки, а также порядок отображения класса. </p>
<p><a name="classes"></a></p>
<h2 class="text">Классы</h2>
<p class="text txt">Для управления доступными классами нужно нажать на меню "Классы" на панели навигации. В появившемся окне можно добавить
класс, экспортировать выбранный класс в exel-таблицу или удалить его.</p>
<p><a name="settings"></a></p>
<h2 class="text">Настройки</h2>
<p class="text txt">В меню "Настройки", выбрав пункт "Внешний вид" можно изменить цветовую тему приложения, тип шрифта и его размер.</p>
<p><a name="about"></a></p>
<h2 class="text">О программе</h2>
<p class="text txt">В этом меню, выбрав пункт "Помощь в работе", можно вызвать данное окно. <br>
Выбрав пункт "Обратная связь" можно предложить идею для улучшения программы "Помощник учителя", оставить отзыв об этой программе или
сообщить об ошибке в её работе.</p>
<p class="text txt" style="margin-top: -10px">____________________________________________________________________________________________________________________________________________________________________</p>
<p><a name="download"></a></p>
<h2 class="text">Скачать приложение</h2>
<p class="text txt">Скачав наше приложение, вы сможете воспользоваться дополнительными функциями нашей программы, такими как:
<ul>
    <li class="text">Собственный Paint</li>
    <li class="text">Возможность создания собственных шаблонов для отправки рассылок</li>
    <li class="text">Изменение внешнего вида приложения</li>
</ul></p>
<label></label>
{% endblock %}


