{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8080/program"><-- Назад</a>
  </div>
</nav>
<ul class="nav">
  <li class="nav-item">
    <h2 class="text">Доступные классы:</h2>
  </li>
  <li class="nav-item">
    <h2 class="text" style="margin-left: 210px">Добавление класса:</h2>
  </li>
</ul>
<div>
  <ul class="nav flex-column" style="margin-left: 500px">
    <li class="nav-item">
      <nav class="nav">
        <h4 class="text" style="margin-top: 5px">Название класса:</h4>
        <textarea class="form-control text" id="exampleFormControlTextarea1" rows="1" style="resize: none; width: 200px; margin-left: 10px"></textarea>
      </nav>
    </li>
    <li class="nav-item">
      <nav class="nav">
        <h4 class="text" style="margin-top: 20px">Файл с данными:</h4>
        <form>
          <div class="form-group" style="margin-top: 20px; margin-left: 10px">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
        </form>
      </nav>
    </li>
    <li class="nav-item">
      <nav class="nav">
        <h4 class="text" style="margin-top: 5px">Шапка документа:</h4>
        <div class="form-check" style="margin-left: 10px; margin-top: 10px">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault12">
          <label class="form-check-label" for="flexRadioDefault1">
            Нет
          </label>
        </div>
        <div class="form-check" style="margin-left: 50px; margin-top: 10px">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault13">
          <label class="form-check-label" for="flexRadioDefault1">
            Да
          </label>
        </div>
      </nav>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary" href="#" role="button" style="width: 460px; margin-right: 10px; margin-top: 20px;">Добавить класс</a>
    </li>
    <li class="nav-item">
      <label></label>
    </li>
    <li class="nav-item">
      <h2 class="text">Экспорт класса:</h2>
    </li>

    <li class="nav-item">
      <nav class="nav">
        <h4 class="text" style="margin-top: 5px">Создать шапку класса:</h4>
        <h4 class="text" style="margin-top: 5px; margin-left: 20px">Название файла:</h4>
      </nav>
    </li>

    <li class="nav-item">
      <nav class="nav">
        <div>
          <ul class="nav flex-column">
            <li class="nav-item">
              <div class="form-check" style="margin-left: 10px; margin-top: 10px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault14">
                <label class="form-check-label" for="flexRadioDefault1">
                  Не создавать
                </label>
              </div>
            </li>
            <li class="nav-item">
              <div class="form-check" style="margin-left: 10px; margin-top: 10px">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault15">
                <label class="form-check-label" for="flexRadioDefault1">
                  Создать
                </label>
              </div>
          </ul>
        </div>
        <div style="margin-left: 140px">
          <ul class="nav flex-column">
            <li class="nav-item">
              <div class="form-check" style="margin-left: 10px; margin-top: 10px">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault16">
                <label class="form-check-label" for="flexRadioDefault1">
                  Текущее
                </label>
              </div>
            </li>
            <li class="nav-item">
              <div class="form-check" style="margin-left: 10px; margin-top: 10px">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Новое (не введено)
                </label>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </li>
    <li>
      <a class="btn btn-primary" href="#" role="button" style="width: 460px; margin-right: 10px; margin-top: 20px;">Экспортировать выбранный класс</a>
    </li>
    <li class="nav-item">
      <label></label>
    </li>
    <li class="nav-item">
      <h2 class="text">Удаление класса:</h2>
    </li>
    <li class="nav-item">
      <nav class="nav">
        <h4 class="text" style="margin-top: 5px">Пароль от аккаунта:</h4>
        <textarea class="form-control text" id="exampleFormControlTextarea12" rows="1" style="resize: none; width: 200px; margin-left: 10px"></textarea>
      </nav>
    </li>
    <li>
      <a class="btn btn-primary" href="#" role="button" style="width: 460px; margin-right: 10px; margin-top: 20px;">Удалить выбранный класс</a>
    </li>
  </ul>

    <table border="1" class="tablestyle1" style="margin-top: -600px">
      <tr class="trstyle">
        <th class="thstyle text cen">Выбрать</th>
        <th class="thstyle text cen">Класс</th>
      </tr>
      {% for i in range(a) %}
      <tr>
        {% for j in classes[i] %}
          {% if j == '-' %}
            <td class="thstyle">
              <input type="checkbox" style="margin-left: 45%">
            </td>
          {% else %}
          <td class="cen" style="text-overflow: ellipsis; overflow: hidden">
            {{ j }}
          </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    </div>
{% endblock %}
