{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8080/program"><-- Назад</a>
  </div>
</nav>

<ul class="nav flex-column" style="margin-top: 20px">
  <li class="nav-item">
      <nav class="nav">
          <h4 class="text">Тип обращения:</h4>
          <select class="text" style="margin-left: 20px">
              <option class="text">Идея для улучшения</option>
              <option class="text">Отзыв о программе</option>
              <option class="text">Сообщение об ошибке</option>
          </select>
      </nav>
  </li>
  <li class="nav-item">
      <h4 class="text" style="margin-top: 30px">Пожалуйста, опишите вашу идею:</h4>
  </li>
  <li class="nav-item">
      <textarea class="form-control text" id="exampleFormControlTextarea1" rows="15" style="resize: none; width: 1100px; margin-top: 30px"></textarea>
  </li>
    <li class="nav-item" style="margin-top: 20px">
      <nav class="nav">
          <button type="button" class="btn btn-primary" style="width: 800px; height: 40px">Отправить</button>
          <form>
              <div class="form-group" style="margin-top: 5px; margin-left: 10px">
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>
      </nav>
  </li>
</ul>
{% endblock %}