{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8080/program"><-- Назад</a>
  </div>
</nav>

<div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <h4 class="text" style="margin-top: 20px">Добавление ссылок:</h4>
    </li>
    <li class="nav-item">
      <h4 class="text" style="margin-top: 50px">Название ссылки:</h4>
      <textarea class="form-control text" id="exampleFormControlTextarea1" rows="1" style="resize: none; width: 460px"></textarea>
    </li>
    <li class="nav-item">
      <h4 class="text" style="margin-top: 50px">Ссылка:</h4>
      <textarea class="form-control text" id="exampleFormControlTextarea12" rows="1" style="resize: none; width: 460px"></textarea>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-primary" style="width: 460px; margin-top: 50px">Добавить ссылку</button>
    </li>
  </ul>
</div>

<div>
  <ul class="nav flex-column" style="margin-left: 510px; margin-top: -375px">
  <li class="nav-item">
    <h4 class="text">Доступные ссылки:</h4>
  </li>
  <li class="nav-item">
    <h4 class="text" style="margin-top: 20px">Поиск напоминания:</h4>
    <textarea class="form-control text" id="exampleFormControlTextarea123" rows="1" style="resize: none; width: 600px"></textarea>
  </li>
  <li class="nav-item">
    <nav class="nav">
      <h4 class="text" style="margin-top: 20px">Сортировать по:</h4>
      <select class="text" style="margin-top: 20px; margin-left: 20px">
        <option class="text">Дата и время</option>
        <option class="text">Название</option>
      </select>
    </nav>
  </li>
  <li class="nav-item">
    <table border="1" class="tablestyle3" style="margin-top: 20px;">
      <tr class="trstyle3">
        <th class="thstyle3 text cen">Выбрать</th>
        <th class="thstyle3 text cen">Название</th>
        <th class="thstyle3 text cen">Добавлена</th>
        <th class="thstyle3 text cen">Ссылка</th>
      </tr>
      {% for i in range(a) %}
      <tr>
        {% for j in rem[i] %}
        {% if j == '-' %}
        <td class="thstyle3">
          <input type="checkbox" style="margin-left: 45%">
        </td>
        {% else %}
        <td style="text-overflow: ellipsis; overflow: hidden" class="cen">
          {{ j }}
        </td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </li>
    <li>
      <button type="button" class="btn btn-primary" style="width: 600px; margin-top: 20px">Открыть выбранные</button>
      <button type="button" class="btn btn-primary" style="width: 600px; margin-top: 20px">Удалить выбранные</button>
    </li>
</ul>
</div>
{% endblock %}